{{! Page heading }}
<div class="page-heading page-heading--type-{{settings.page_heading_type}} page-heading--style-{{settings.page_heading_style}}"
     data-heading-style="{{settings.page_heading_style}}"
>
  <div class="welcome__bg {{#if settings.welcome_mask_enable}}welcome__bg--with-mask{{/if}}">
    <img class="welcome__bg-image is-hidden--ui-dark" src="{{settings.welcome_bg}}" alt="{{settings.welcome_title}}" data-plugin-load-image>
    <img class="welcome__bg-image is-hidden--ui-light" src="{{settings.welcome_bg_dark}}" alt="{{settings.welcome_title}}" data-plugin-load-image>
  </div>

  <div class="container">
    <div class="page-heading__breadcrumbs">
      {{breadcrumbs}}
    </div>

    <div class="page-heading__content">
      <div class="page-heading__content-left">
        <h1 class="h1 page-heading__title">{{t 'my_activities' }}</h1>
        <div class="page-heading__nav">
          {{#if help_center.request_management_enabled}}
            {{link 'requests' class='btn btn--md btn--color-primary page-heading__btn'}}
          {{/if}}
          <span class="btn btn--md btn--secondary is-active no-hover">{{t 'contributions'}}</span>
          {{link 'subscriptions' class='btn btn--md btn--color-primary page-heading__btn'}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container--md page-content">

  <div class="btn-group">
    {{#each filters}}
      {{#if selected}}
        <span class="btn btn--primary no-hover btn--sm">{{name}}</span>
      {{else}}
        <a href="{{url}}" class="btn btn--light btn--sm">
          {{name}}
        </a>
      {{/if}}
    {{/each}}
  </div>

  {{#if contributions}}
    <p></p>
    <div class="table table--my-activities" id="main-content">
      <div class="table__head">
        <div class="table__col">{{t 'title'}}</div>
        <div class="table__col">{{t 'vote_sum'}}</div>
        <div class="table__col">{{t 'last_activity'}}</div>
        <div class="table__col">{{t 'created'}}</div>
      </div>
      <div class="table__body">
        {{#each contributions}}
          <div class="table__row">
            <div class="table__col" data-title="{{t 'title'}}:">
              <a href="{{url}}">{{excerpt title characters=60}}</a>
            </div>
            <div class="table__col" data-title="{{t 'vote_sum'}}:">
              <span>{{vote_sum}}</span>
            </div>
            <div class="table__col" data-title="{{t 'last_activity'}}:">
              <span>{{date last_activity_at timeago=true}}</span>
            </div>
            <div class="table__col" data-title="{{t 'created'}}:">
              <span>{{date created_at timeago=true}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{pagination}}
  {{else}}
    <p>{{t 'no_contributions'}}</p>
  {{/if}}

</div>
