<style>
    [role="main"] {
        display: flex;
        align-items: center;
    }
</style>

<div class="container error-page">
    <div class="row">
        <div class="col--lg-up-6 error-page__text">
            <h1>{{t 'oops'}}</h1>

            {{#is error 'unauthorized'}}
                <h2 class="h4">{{link 'sign_in'}}</h2>
            {{/is}}

            {{#is error 'forbidden'}}
                <h2 class="h4">{{t 'not_authorized'}}</h2>
            {{/is}}

            {{#is error 'not_found'}}
                <h2 class="h4">{{t 'nonexistent_page'}}</h2>
                <p>{{t 'mistyped_address_or_moved_page'}}</p>
            {{/is}}

            <p>
                {{#link 'help_center'}}
                    {{t 'back_to_homepage'}}
                {{/link}}
            </p>
        </div>

        <div class="error-page__image colored-svg">
            <img src="{{settings.error_image}}" alt="Error" data-plugin-inline-svg>
        </div>

    </div>
</div>

